<!DOCTYPE html>
<html>
    <head>
        <title>stepic-web: {{webpage_title}}</title>
        <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8”>
        <meta name=”description” content=”Сайт”>
        <link rel=”stylesheet” href=”./style.css”>
        <style>
            p {
                border: 1px solid red;
                padding: 10px;
            }
        </style>
    </head>
    <body id=”the_body”>
        <h1>{{ question.title }}</h1>
        <p>{{ question.text }}</p>
        <hr></hr>
        {% for answer in answers %}
            <p>{{ answer.text|linebreaksbr }}</p>
        {% endfor %}
        <hr></hr>
        
        {% for e in form.non_field_errors %}
            <div class="alert alert-danger">{{ e }}</div>
        {% endfor %}
        <form class="form-horizontal" method="post" action="{{ question.get_url }}">
        {% csrf_token %}
        {{ form.question }}
            <fieldset>
                    <div class="control-group {% if form.text.errors %}has-error{% endif %}">
                        <label class="control-label">{{ form.text.label }}</label>
                        <div class="controls">{{ form.text }} {{form.text.errors}}</div>
                    </div>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Отправить ответ</button>
            </div>
        </form>        
        
    </body>
</html>
